# Firebase / secrets
serviceAccountKey.json
*.json

# Colab temporary files
*.png
*.csv

# Python cache
__pycache__/

# Environment files
.env
*.env

# Secrets / configs
firebaseConfig.js

# OS junk
.DS_Store
Thumbs.db

# Node / tooling (future-proof)
node_modules/

# from obsidian notes
Obsidian/